<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087977237588-2oeplutm5js5u2a8adshag9a605vh3ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087977237588-2oeplutm5js5u2a8adshag9a605vh3ir</string>
	<key>API_KEY</key>
	<string>AIzaSyCIC5Z_4dcRYWDjCLahppRGzLE0E89QJKA</string>
	<key>GCM_SENDER_ID</key>
	<string>1087977237588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sambaternakFlutterFbs</string>
	<key>PROJECT_ID</key>
	<string>sambaternak-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>sambaternak-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087977237588:ios:c5c99c722c7d69c427d1c1</string>
</dict>
</plist>